
@{
    ViewBag.Title = "DeWee Reports";
}

<div class="page-bread page-titles">
    <div class="bread-flex">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="row form-row">
            <div class="col-xs-12 col-md-3">
                <div class="card mb-2" style="background-color: #ADE2F8;">
                    <div class="value-box-card" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="ReferralReceived">10.00</div>
                            <div class="txt" style="font-size: 14px; color: #000;">Referral Received(nos.)</div>
                        </div>
                        <div>
                            <img src="~/Content/dashboard/images/referral.jpg" class="img-fluid" style="width: 55px !important; height:auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="card mb-2" style="background-color: #8FD6F2;">
                    <div class="value-box-card" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="QualifiedLeads">10.00</div>
                            <div class="txt" style="font-size: 14px; color: #000;">Qualified Leads(nos.)</div>
                        </div>
                        <div>
                            <img src="~/Content/dashboard/images/qualifiedLeads.png" class="img-fluid" style="width: 55px !important; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card mb-2" style="background-color: #5BC6EB;">
                    <div class="value-box-card" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="EnterprisesSolarized">10.00</div>
                            <div class="txt" style="font-size: 14px; color: #000;">Enterprises Solarized(nos.)</div>
                        </div>
                        <div>
                            <img src="~/Content/dashboard/images/enterprisesSolarized.png" class="img-fluid" style="width: 55px !important; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="card mb-2" style="background-color: #0091C9;">
                    <div class="value-box-card" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="CreditLinked">10.00</div>
                            <div class="txt" style="font-size: 14px; color: #000;">Credit Linked(%)</div>
                        </div>
                        <div>
                            <img src="~/Content/dashboard/images/craditLinked.jpg" class="img-fluid" style="width: 55px !important; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="card mb-2" style="background-color: #00587C;">
                    <div class="value-box-card" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="ConversionRate">10.00</div>
                            <div class="txt" style="font-size: 14px; color: #000;">Conversion Rate(%)</div>
                        </div>
                        <div>
                            <img src="~/Content/dashboard/images/conversionRate.png" class="img-fluid" style="width: 55px !important; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="basic-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <style>
                                .highcharts-figure,
                                .highcharts-data-table table {
                                    min-width: 360px;
                                    max-width: 800px;
                                    margin: 1em auto;
                                }

                                .highcharts-data-table table {
                                    font-family: Verdana, sans-serif;
                                    border-collapse: collapse;
                                    border: 1px solid #ebebeb;
                                    margin: 10px auto;
                                    text-align: center;
                                    width: 100%;
                                    max-width: 500px;
                                }

                                .highcharts-data-table caption {
                                    padding: 1em 0;
                                    font-size: 1.2em;
                                    color: #555;
                                }

                                .highcharts-data-table th {
                                    font-weight: 600;
                                    padding: 0.5em;
                                }

                                .highcharts-data-table td,
                                .highcharts-data-table th,
                                .highcharts-data-table caption {
                                    padding: 0.5em;
                                }

                                .highcharts-data-table thead tr,
                                .highcharts-data-table tbody tr:nth-child(even) {
                                    background: #f8f8f8;
                                }

                                .highcharts-data-table tr:hover {
                                    background: #f1f7ff;
                                }

                                .ld-form {
                                    max-width: 800px;
                                    box-sizing: border-box;
                                    margin: 0 auto;
                                    padding: 1em 10px;
                                }

                                .ld-row {
                                    margin: 0.3em 0;
                                }

                                    .ld-row input {
                                        line-height: 1.5em;
                                        padding: 0.375rem 0.75rem;
                                        border: 1px solid rgba(128, 128, 128, 0.3);
                                        border-radius: 0.25rem;
                                        color: #495057;
                                    }

                                .ld-label {
                                    width: 200px;
                                    display: inline-block;
                                }

                                .ld-url-input {
                                    width: 400px;
                                    max-width: calc(100% - 2rem);
                                }

                                .ld-time-input {
                                    width: 40px;
                                }

                                .highcharts-description {
                                    margin: 0.3rem 10px;
                                }
                            </style>
                            <figure class="highcharts-figure">
                                <div id="WeeklyReferral"></div>
                            </figure>
                        </div>

                        <div class="form-group col-md-6">
                            <figure class="highcharts-figure">
                                <div id="weeklyLeads"></div>

                            </figure>
                        </div>

                        <div class="form-group col-md-6">
                            <figure class="highcharts-figure">
                                <div id="leadsCategoriesAcross"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Select2 CSS (Updated Version) -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Select2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/funnel.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/Scripts/JS/Reports/DeWeeReports.js"></script>
}