################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/DeWee.csproj.AssemblyReference.cache
/obj/Debug/TempPE/Models.DBModel.Context.cs.dll
/obj/Debug/TempPE/Models.DBModel.cs.dll
/obj/Debug/TempPE/Models.DBModel.Designer.cs.dll
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.csdl
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.msl
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.ssdl
/bin/BitMiracle.LibTiff.NET.dll
/bin/BitMiracle.LibTiff.NET.xml
/bin/DeWee.dll
/bin/DeWee.dll.config
/bin/DeWee.pdb
/bin/DocumentFormat.OpenXml.dll
/bin/DocumentFormat.OpenXml.Framework.dll
/bin/DocumentFormat.OpenXml.Framework.xml
/bin/DocumentFormat.OpenXml.xml
/bin/IronSoftware.Drawing.Abstractions.dll
/bin/IronSoftware.Drawing.Abstractions.pdb
/bin/IronSoftware.Drawing.Common.dll
/bin/IronSoftware.Drawing.Common.pdb
/bin/IronSoftware.Drawing.Common.xml
/bin/SixLabors.Fonts.dll
/bin/SixLabors.Fonts.xml
/bin/SixLabors.ImageSharp.Drawing.dll
/bin/SixLabors.ImageSharp.Drawing.xml
/bin/System.Buffers.dll
/bin/System.Buffers.xml
/bin/System.Memory.dll
/bin/System.Memory.xml
/bin/System.Numerics.Vectors.dll
/bin/System.Numerics.Vectors.xml
/bin/System.Runtime.CompilerServices.Unsafe.dll
/bin/System.Runtime.CompilerServices.Unsafe.xml
/bin/System.Text.Encoding.CodePages.dll
/bin/System.Text.Encoding.CodePages.xml
/.vs/DeWee/FileContentIndex/08b4ba69-891e-4005-869f-2ee6fe0dc879.vsidx
/.vs/DeWee/FileContentIndex/3a84aedc-420f-4496-b738-a1ff365dbe34.vsidx
/.vs/DeWee/FileContentIndex/4c583490-c6bb-4209-8630-8ee9c8eb2901.vsidx
/.vs/DeWee/FileContentIndex/74d75bb3-8a92-49a6-8bff-eec4fe0a126d.vsidx
/.vs/DeWee/FileContentIndex/8fc4b604-2ccb-49c8-b054-7fad88c57ebb.vsidx
/obj/Debug/DeWee.csproj.CoreCompileInputs.cache
/obj/Debug/DeWee.csproj.FileListAbsolute.txt
/obj/Debug/DeWee.csproj.Up2Date
/obj/Debug/DeWee.dll
/obj/Debug/DeWee.pdb
/.vs/DeWee/v17/.suo
/.vs/DeWee/v17/DocumentLayout.json
/.vs/DeWee/v17/fileList.bin
/.vs/DeWee/config
/.vs/DeWee/config/applicationhost.config
/.vs/DeWee.csproj.dtbcache.json
