@model DeWee.Models.BeneficiaryModel
@using DeWee.Manager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Beneficiary List";
}

<div class="page-bread page-titles">
    <div class="bread-flex">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div id="participantTableContainer">

                <!-- The participant table will be injected here -->
            </div>
        </div>
    </div>
</div>
@*<button class="modal-btn btn-primary">Open Modal</button>*@
<!-- Modal -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div id="partialViewContainer">

                <!-- The participant table will be injected here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Include DataTables JS -->
<script>

        //setTimeout(() => {
        //    formModal.classList.add("modal-active")
        //}, 200)//2000
    $(document).on('click', '.modal-btn', function () {
        var beneficiaryId = $(this).data("id");
          //  formModal.classList.add("modal-active");
        /*    $("#loadPartialButton").click(function () {*/
                $.ajax({
                    url: '@Url.Action("LoadBeneficiaryView", "Beneficiary")', // URL to the action method
                    type: 'GET',
                    data: { BfyId: beneficiaryId }, // Pass the parameter
                    success: function (result) {
                        $("#partialViewContainer").html(result); // Load the partial view into the container
                        const modalBtn = document.querySelector('.modal-btn');
                        const formModal = document.querySelector('.form-modal-trans');
                        const closeBtn = document.querySelector('.close-btn');
                        modalBtn.addEventListener('click', function () {
                            formModal.classList.remove("modal-active")
                        })
                        closeBtn.addEventListener('click', function () {
                            formModal.classList.add("modal-active")
                        })
                    },
                    error: function (xhr, status, error) {
                        console.error("Error loading partial view: " + error);
                        toastr.error("Error loading Beneficiary view: " + error);
                    }
                });
           // });
        });
        
       
</script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: document.baseURI + "/Beneficiary/GetBeneficiaryList/",
                dataType: 'json',
                success: function (resp) {
                    if (resp.IsSuccess) {
                        $('#participantTableContainer').html(resp.Data);
                       // toastr.success("Success", "Data loaded successfully.");

                        // Initialize DataTable after loading the HTML
                        $('#tbl').DataTable(); // Ensure you have included DataTables library
                    } else {
                        toastr.error("Error", resp.Data);
                    }
                },
                error: function (req, error) {
                    var errormsg = 'There was a communication error: ' + (error === 'error' ? req.statusText : error);
                    toastr.error("Error", errormsg);
                }
            });
        });
    </script>
}
