@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Referral List";
}
<div class="page-bread page-titles">
    <div class="bread-flex">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            @*<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>*@
        </ol>
    </div>
</div>
<div class="rows">
    <div class="col-lg-12">
        <div class="card">
            <div id="subdata">
                <!-- The participant table will be injected here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            LoadData();
        });
        function LoadData() {
            $.ajax({
                type: "Get",
                url: document.baseURI + "/Beneficiary/GetReferralList/",
                //   dataType: 'json',
                success: function (resp) {
                    if (resp.IsSuccess) {
                        $('#subdata').html(resp.Data);
                        if ($.fn.DataTable.isDataTable("#tbl")) {
                            $("#tbl").DataTable().destroy();
                        }
                        $("#tbl").DataTable();
                        //toastr.success("Success", "Data loaded successfully.");
                    } else {
                        toastr.error("Error", resp.Data);
                    }
                },
                error: function (req, error) {
                    debugger;
                    var errormsg = 'There was a communication error: ' + (error === 'error' ? req.statusText : error);
                    toastr.error("Error", errormsg);
                }
            });
        }
    </script>
}